{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans "Buildings Removed" %}{% endblock %}

{% block content %}
    <header class="hasform">
        <div class="row nice-padding">
            <div class="col2">
                <h1>
                	<svg class="icon icon-user header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-image"></use></svg>
                        {% trans 'Buildings Removed' %}
                </h1>
            </div>
            <div class="col9">
                <form class="col search-form" action="{% url 'buildings_removed' %}" method="get" novalidate="" role="search">
                    <ul class="fields">
                        <li class="required">
                        <div class="field char_field text_input field-small iconfield" data-contentpath="building_name">
                            <label for="building_name">Search term:</label>
                            <div class="field-content">
                                <div class="input icon-search ">
                                        <input type="text" name="building_name" placeholder="Search buildings" required="" id="building_name">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li class="submit visuallyhidden"><input type="submit" value="Search" class="button"></li>
                    </ul>
                </form>
            </div>
        </div>
    </header>

    <div style="padding-top: 20px"></div>

    {% for building in buildings %}
    <div style="padding-left: 50px;">
        <a href="{% url 'buildings_removed_show' building.id %}">
        <span>{{ building.building_name }}</span>
        </a>
        <form method="post" action="{% url 'buildings_removed_show' building.id %}" style="width: 50px; float: right;">
            {% csrf_token %}
            <input type="hidden" name="rollback" value="{{ building.id }}">
            <button class="button" type="submit" style="background-color: hsl(180.4761904762,100%,24.7058823529%); float: right; margin-right: 20px;" onclick="return confirm('Are you sure you want to rollback this item?');">{% trans 'Rollback' %}</button>
        </form>
        <br>
    </div>
    <hr>
    {% endfor %}

    <div align="center">
    {% if paginator %}
        {% if paginator.has_previous %}
            <a href="{% url 'buildings_removed' %}?building_name={{ building_name }}&amp;page={{ paginator.previous_page_number }}&amp;limit={{ limit }}">Previous</a>
        {% endif %}
        {{ paginator }}
        {% if paginator.has_next %}
            <a href="{% url 'buildings_removed' %}?building_name={{ building_name }}&amp;page={{ paginator.next_page_number }}&amp;limit={{ limit }}">Next</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
