{% load i18n wagtailadmin_tags %}
{% load wagtailimages_tags %}

<div class="col4 field-building">
    <span class="field-label">{% trans '住所' %}</span>
    <div>
        <input type="text" name="pref" value="" maxlength="254" id="id_pref">
        <span class="message-error"></span>
    </div>
</div>

<div class="col4 field-building">
    <span class="field-label">&nbsp;</span>
    <div>
        <input type="text" name="city" value="" maxlength="254" id="id_city">
        <span class="message-error"></span>
    </div>
</div>

<div class="col4 field-building">
    <span class="field-label">&nbsp;</span>
    <div>
        <input type="text" name="ooaza" value="" maxlength="254" id="id_ooaza">
        <span class="message-error"></span>
    </div>
</div>

<div class="col4 field-building">
    <span class="field-label">&nbsp;</span>
    <div>
        <input type="text" name="tyoume" value="" maxlength="254" id="id_tyoume">
        <span class="message-error"></span>
    </div>
</div>

<div class="col8 field-building">
    <span class="field-label">&nbsp;</span>
    <div>
        <input type="text" name="hidden" value="" maxlength="254" id="id_hidden">
        <span class="message-error"></span>
    </div>
</div>