{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% load home_tags %}

{% block titletag %}{% trans "建物" %}{% endblock %}

{% block content %}
    <header class="hasform">
        <div class="row nice-padding">
            <div class="col2">
                <h1>
                	<svg class="icon icon-form header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-form"></use></svg>
                        {% trans '建物' %}
                </h1>
            </div>
            <div class="col9">
                &nbsp;
            </div>
            <div class="col1">
                <div class="actionbutton">
                    <a href="{% url 'buildings_add' %}" class="button bicolor button--icon"><span class="icon-wrapper"><svg class="icon icon-plus icon" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg></span>{% trans 'Add' %}</a>
                </div>
            </div>
        </div>
    </header>

    <div class="search-buildings">
        <form class="col search-form" action="{% url 'buildings' %}" method="get" novalidate="" role="search">
            <div class="col12">
                <div class="col2" align="right">
                    <span>{% trans '物件名' %}</span>
                </div>
                <div class="col10">
                    <input type="text" name="building_name" placeholder="{% trans '' %}" required="" id="building_name" value="{% if building_name %}{{ building_name }}{% endif %}">
                </div>
                <div class="col2" align="right">
                    <span>{% trans '所在地' %}</span>
                </div>
                <div class="col10">
                    <input type="text" name="address" placeholder="{% trans '' %}" required="" id="address" value="{% if address %}{{ address }}{% endif %}">
                </div>
                <div class="col12" align="center">
                    <button class="button button-search">{% trans 'Search' %}</button>
                </div>
            </div>
        </form>
    </div>

    <table class="listing table-buildings">
        <thead>
            <tr>
                <th >
                    {% if order_by and order_by == 'building_name'%}
                    <a href="{% url 'buildings' %}?{% url_replace page=page limit=limit order_by='-building_name'%}" class="icon icon-arrow-down-after">
                    {% elif order_by and order_by == '-building_name' %}
                    <a href="{% url 'buildings' %}?{% url_replace page=page limit=limit order_by='building_name'%}" class="icon icon-arrow-up-after">
                    {% else %}
                    <a href="{% url 'buildings' %}?{% url_replace page=page limit=limit order_by='building_name'%}" class="icon icon-arrow-up-down-after">
                    {% endif %}
                    {% trans '物件名' %}</a>
                </th>
                <th>
                    {% if order_by and order_by == 'address'%}
                    <a href="{% url 'buildings' %}?{% url_replace page=page limit=limit order_by='-address'%}" class="icon icon-arrow-down-after">
                    {% elif order_by and order_by == '-address' %}
                    <a href="{% url 'buildings' %}?{% url_replace page=page limit=limit order_by='address'%}" class="icon icon-arrow-up-after">
                    {% else %}
                    <a href="{% url 'buildings' %}?{% url_replace page=page limit=limit order_by='address'%}" class="icon icon-arrow-up-down-after">
                    {% endif %}
                    {% trans '所在地' %}</a>
                </th>
                <th>
                    {% trans '作成した' %}
                </th>
                <th>
                    {% trans '編集' %}
                </th>
                <th>
                    {% trans 'Merge' %}
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
        {% for building in buildings %}
            <tr>
                <td class="title" valign="top">
                    <a href="{% url 'buildings_show' building.id %}">{{ building.building_name }}</a>
                </td>
                <td>
                   {{ building.cache.address }}
                </td>
                <td class="create-readable-date" title="{{ building.create_by }}">
                    {{ building.created_at }}
                </td>
                <td class="update-readable-date" title="{{ building.update_by }}">
                    {{ building.last_time_update }}
                </td>
                <td align="center">
                    <input type="checkbox" id="merge-building-{{ building.id }}" name="merge-building" value="{{ building.id }}">
                    <button class="button button-merge" type="button" value="{% url 'buildings_merge' building_id=building.id %}">{% trans 'Merge' %}</button>
                </td>
                <td>
                    <form method="post" action="{% url 'buildings_show' building.id %}" class="buildings-action">
                        {% csrf_token %}
                        <input type="hidden" name="remove" value="{{ building.id }}">
                        <button class="button button-remove" type="submit" onclick="return confirm('このアイテムを削除してもよろしいですか？');">{% trans 'Remove' %}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div align="center">
    {% if paginator %}
        {% if paginator.has_previous %}
            <a href="{% url 'buildings' %}?{% url_replace page=paginator.previous_page_number limit=limit order_by=order_by %}">{% trans 'Previous' %}</a>
        {% endif %}
        {{ paginator }}
        {% if paginator.has_next %}
            <a href="{% url 'buildings' %}?{% url_replace page=paginator.next_page_number limit=limit order_by=order_by %}">{% trans 'Next' %}</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function(){
    $('.table-buildings').on('click', '.button-merge', function(){
        $building_id = $(this).val();
        $link = ($(this).val()) + '?';
        $first = 0;
        $('input[name=merge-building]:checked').each (function() {
            if ($building_id.indexOf($(this).val()) < 0) {
                if ($first == 0){
                    $link = $link + 'building_id=' + $(this).val();
                    $first = 1;
                } else {
                    $link = $link + '&building_id=' + $(this).val();
                }
            }
        });
        if ($first){
            location.href = $link;
        }
    });
});
</script>
{% endblock %}
