{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% load home_tags %}

{% block titletag %}{% trans "建物" %}{% endblock %}

{% block content %}
    <header class="hasform">
        <div class="row nice-padding">
            <div class="col2">
                <h1>
                	<svg class="icon icon-form header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-form"></use></svg>
                        {% trans '建物' %}
                </h1>
            </div>
            <div class="col9">
                <form class="col search-form" action="{% url 'buildings' %}" method="get" novalidate="" role="search">
                    <ul class="fields">
                        <li class="required">
                        <div class="field char_field text_input field-small iconfield" data-contentpath="building_name">
                            <label for="building_name">Search term:</label>
                            <div class="field-content">
                                <div class="input icon-search ">
                                        <input type="text" name="building_name" placeholder="{% trans '建物を検索する' %}" required="" id="building_name">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li class="submit visuallyhidden"><input type="submit" value="Search" class="button"></li>
                    </ul>
                </form>
            </div>
            <div class="col1">
                <div class="actionbutton">
                    <a href="{% url 'buildings_add' %}" class="button bicolor button--icon"><span class="icon-wrapper"><svg class="icon icon-plus icon" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg></span>{% trans 'Add' %}</a>
                </div>
            </div>
        </div>
    </header>

    <table class="listing">
        <thead>
            <tr>
                <th>
                    {% trans '物件名' %}
                </th>
                <th>
                    {% trans '作成した' %}
                </th>
                <th>
                    {% trans '編集' %}
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
        {% for building in buildings %}
            <tr>
                <td class="title" valign="top">
                    <a href="{% url 'buildings_show' building.id %}">{{ building.building_name }}</a>
                </td>
                <td class="create-readable-date" title="{{ building.create_by }}">
                    {{ building.created_at }}
                </td>
                <td class="update-readable-date" title="{{ building.update_by }}">
                    {{ building.last_time_update }}
                </td>
                <td>
                    <form method="post" action="{% url 'buildings_show' building.id %}" class="buildings-action">
                        {% csrf_token %}
                        <input type="hidden" name="remove" value="{{ building.id }}">
                        <button class="button button-remove" type="submit" onclick="return confirm('このアイテムを削除してもよろしいですか？');">{% trans 'Remove' %}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div align="center">
    {% if paginator %}
        {% if paginator.has_previous %}
            <a href="{% url 'buildings' %}?{% url_replace page=paginator.previous_page_number limit=limit %}">{% trans 'Previous' %}</a>
        {% endif %}
        {{ paginator }}
        {% if paginator.has_next %}
            <a href="{% url 'buildings' %}?{% url_replace page=paginator.next_page_number limit=limit %}">{% trans 'Next' %}</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
