{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans "Buildings" %}{% endblock %}

{% block content %}
<header class="merged nice-padding">
    <div class="row">
        <h1>
        	<svg class="icon icon-user header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-image"></use></svg>
                {% trans 'Buildings' %}
        </h1>
        <div class="col9">
        </div>
    </div>
</header>
<h1>{% trans 'Buildings' %}</h1>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
