{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% load wagtailimages_tags %}

{% block titletag %}{{ building_detail.building_name }}{% endblock %}

{% block content %}
    <header class="merged nice-padding">
        <div class="row">
            <div class="col2">
                <h1>
                	<svg class="icon icon-user header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-image"></use></svg>
                        {{ building_detail.building_name }}
                </h1>
            </div>
            <div class="col9">
                <span>&nbsp;</span>
            </div>
            <div class="col1">
                <div class="actionbutton">
                    <a href="{% url 'upload' %}?building_id={{ building_detail.id }}" class="button bicolor button--icon"><span class="icon-wrapper"><svg class="icon icon-plus icon" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg></span>{% trans 'Upload' %}</a>
                </div>
            </div>
        </div>
    </header>
    <form method="post" action="{{ action }}">
        {% csrf_token %}
        <ul class="tab-nav merged" data-tab-nav="">
            <li class="active"><a href="#infomation">{% trans 'Infomation' %}</a></li>
            <li><a href="#photos">{% trans 'Photos' %}</a></li>
        </ul>

        <div class="tab-content" style="height: 700px">
            <section id="infomation" class="active nice-padding">
                {{ forms.building_name.label }}{{ forms.building_name }}
            </section>
            <section id="photos" class="nice-padding">
                {{ photos_form }}
                <button type="button" class="button button-secondary" data-toggle="modal" data-target="#listPhotos" style="float: right; margin-left: 20px;">+</button>
            </section>
        </div>
            <div align="center">
                {% if building_detail %}
                    <button type="submit" class="button" style="width: 200px; left: 100px;">{% trans 'Save' %}</button>
                {% else %}
                    <button type="submit" class="button" style="width: 200px;">{% trans 'Create' %}</button>
                {% endif %}
            </div>
    </form>
    {% if building_detail %}
    <form method="post" action="{% url 'buildings_show' building_detail.id %}" style="position: relative; top: -39px; left: 760px; width: 30px;">
        {% csrf_token %}
        <input type="hidden" name="remove" value="{{ building_detail.id }}">
        <button class="button" type="submit" style="background-color: red;" onclick="return confirm('Are you sure you want to remove this item?');">{% trans 'Remove' %}</button>
    </form>
    {% endif %}

    <div class="modal" tabindex="-1" role="dialog" id="listPhotos">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% for photo in photos %}
                        <div class="col3">
                          <h3>{{ photo.title }}</h3>
                            {% image photo width-300 %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer" align="center">
                </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
    <script>
        $('#listPhotos').modal('hidden');
    </script>
{% endblock %}
