{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% load wagtailimages_tags %}

{% block titletag %}{{ building_detail.building_name }}{% endblock %}

{% block content %}
    <header class="merged nice-padding">
        <div class="row">
            <div class="col2">
                <h1>
                	<svg class="icon icon-user header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-image"></use></svg>
                        {% if building_detail %}{{ building_detail.building_name }}{% else %}{% trans 'Add' %}{% endif %}
                </h1>
            </div>
            <div class="col9">
                <span>&nbsp;</span>
            </div>
            <div class="col1">
                {% if building_detail %}
                <div class="actionbutton">
                    <a href="{% url 'upload' %}?building_id={{ building_detail.id }}" class="button bicolor button--icon"><span class="icon-wrapper"><svg class="icon icon-plus icon" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg></span>{% trans 'Upload' %}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <form method="post" action="{{ action }}">
        {% csrf_token %}
        <ul class="tab-nav merged" data-tab-nav="">
            <li class="active"><a href="#infomation">{% trans 'Infomation' %}</a></li>
            {% if building_detail %}
            <li><a href="#photos">{% trans 'Photos' %}</a></li>
            {% endif %}
        </ul>

        <div class="tab-content" style="height: 700px">
            <section id="infomation" class="active nice-padding">
                {{ forms.building_name.label }}{{ forms.building_name }}
            </section>
            <section id="photos" class="nice-padding">
                <div class="photos-building">
                    {% for photo in building_detail.photos %}
                    <div class="col3 item-photo-{{ forloop.counter }}">
                        <div align="right">
                            <button type="button" class="close-photo">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="photo" data-image="photo-{{ forloop.counter }}" data-path="path-{{ forloop.counter }}">
                            <img src="{% if photo.path %}{{ photo.path }}{% else %}/static/images/no-image.png{% endif %}" id="photo-{{ forloop.counter }}" data-toggle="modal" data-target="#listPhotos">
                        </div>
                        <input type="hidden" name="path" value="{{ photo.path }}" id="path-{{ forloop.counter }}">
                        <select name="category">
                            {% for k, v in category %}
                                <option value="{{ k }}" {% if v == photo.category %}selected{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </select>
                        <textarea name="comment">{{ photo.comment }}</textarea>
                    </div>
                    {% endfor %}
                </div>
                <div class="col12">
                <button type="button" class="button button-secondary insert-photo" style="float: right; margin-left: 20px;" onclick="insertPhoto()">+</button>
                </div>
            </section>
        </div>
            <div align="center">
                {% if building_detail %}
                    <button type="submit" class="button" style="width: 200px; left: 100px;">{% trans 'Save' %}</button>
                {% else %}
                    <button type="submit" class="button" style="width: 200px;">{% trans 'Create' %}</button>
                {% endif %}
            </div>
    </form>
    {% if building_detail %}
    <form method="post" action="{% url 'buildings_show' building_detail.id %}" style="position: relative; top: -39px; left: 760px; width: 30px;">
        {% csrf_token %}
        <input type="hidden" name="remove" value="{{ building_detail.id }}">
        <button class="button" type="submit" style="background-color: red;" onclick="return confirm('Are you sure you want to remove this item?');">{% trans 'Remove' %}</button>
    </form>
    {% endif %}

    <div class="modal" tabindex="-1" role="dialog" id="listPhotos">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% for photo in photos %}
                        <div class="col3 galary" data-photo="" data-path="">
                            {% image photo original %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer" align="center">
                </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
    <script>
        $('#listPhotos').modal('hidden');

        function insertPhoto(){
            var random = Math.floor(Math.random() * 200) + 100;
            $('.photos-building').append(`
                <div class="col3">
                    <div align="right">
                        <button type="button" class="close-photo">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="photo" data-image="photo-` + random + `" data-path="path-` + random + `">
                        <img src="/static/images/no-image.png"  id="photo-` + random + `" data-toggle="modal" data-target="#listPhotos">
                    </div>
                    <input type="hidden" name="path" value="" id="path-` + random + `">
                    <select name="category">
                            {% for k, v in category %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    <textarea name="comment"></textarea>
                </div>
            `);
        };

        $(function(){
            $('.photos-building').on('click', '.close-photo', function(){
                $(this).parent().parent().empty();
            });
            $('.photos-building').on('click', '.photo', function(){
                $('.galary').attr('data-photo', $(this).data('image'));
                $('.galary').data('photo', $(this).data('image'));

                $('.galary').attr('data-path', $(this).data('path'));
                $('.galary').data('path', $(this).data('path'));
            });
            $('#listPhotos').on('click', '.galary', function(){
                var photo = $(this).data('photo');
                var path = $(this).data('path');
                var galary = $(this).find('img').attr('src');

                $('#' + photo).attr('src', galary);
                $('#' + path).val(galary);

                $('#listPhotos').modal('toggle');
            });
        });
    </script>
{% endblock %}
