{% load wagtailadmin_tags %}
{% load i18n %}
<nav class="nav-main">
    <ul>
        <li class="menu-item {% if request.path == '/dashboard/' %}menu-active{% endif %}">
            <a href="/dashboard/" class="">
                <svg class="icon icon-image icon--menuitem" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg>
                {% trans "Dashboard" %}
            </a>
        </li>
        <li class="menu-item {% if request.path == '/dashboard/buildings/' %}menu-active{% endif %}">
            <a href="/dashboard/buildings/" class="">
                <svg class="icon icon-image icon--menuitem" aria-hidden="true" focusable="false"><use href="#icon-image"></use></svg>
                {% trans "Buildings" %}
            </a>
        </li>
        <li class="menu-item {% if request.path == '/dashboard/import/' %}menu-active{% endif %}">
            <a class="" href="/dashboard/import/" aria-haspopup="dialog">
                <span>
                    <svg class="icon icon-folder-open-inverse icon--menuitem" aria-hidden="true">
                    <use href="#icon-folder-open-inverse"></use></svg>
                </span>
                {% trans "Import" %}
            </a>
        </li>

        <li class="menu-item {% if request.path == '/dashboard/users/' or request.path == '/dashboard/groups/' or request.path == '/dashboard/account/' %}menu-active{% endif %}">
            <a href="#" data-nav-primary-submenu-trigger="" class="">
                <svg class="icon icon-cogs icon--menuitem" aria-hidden="true" focusable="false"><use href="#icon-cogs"></use></svg>
                {% trans "Settings" %}
                <svg class="icon icon-arrow-right icon--submenu-trigger" aria-hidden="true" focusable="false"><use href="#icon-arrow-right"></use></svg>
            </a>
            <div class="nav-submenu">
                <h2 id="nav-submenu-settings-title" class="">
                    <svg class="icon icon-cogs icon--submenu-header" aria-hidden="true" focusable="false"><use href="#icon-cogs"></use></svg>
                    {% trans "Settings" %}
                </h2>
                <ul class="nav-submenu__list" aria-labelledby="nav-submenu-settings-title">
                    <li class="menu-item">
                        <a href="/dashboard/users/" class="">
                            <svg class="icon icon-user icon--menuitem" aria-hidden="true" focusable="false"><use href="#icon-user"></use></svg>
                            {% trans "Users" %}
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/dashboard/groups/" class="">
                            <svg class="icon icon-group icon--menuitem" aria-hidden="true" focusable="false"><use href="#icon-group"></use></svg>
                            {% trans "Groups" %}
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="nav-footer" id="footer">
            <div class="account" id="account-settings" title="{% trans 'Edit your account' %}">
                <span class="avatar square avatar-on-dark">
                    <img src="{% avatar_url request.user size=50 %}" alt="" />
                </span>
                <em class="icon icon-arrow-up-after">{{ request.user.first_name|default:request.user.get_username }}</em>
            </div>

            <ul class="nav-footer-submenu">
                <li><a href="{% url 'wagtailadmin_account' %}" class="icon icon-user">{% trans "Account settings" %}</a></li>
                <li><a href="{% url 'wagtailadmin_logout' %}" class="icon icon-logout">{% trans "Log out" %}</a></li>
            </ul>

        </li>
    </ul>
</nav>
