Django>=3.2,<3.3
wagtail>=2.13,<2.14
mongoengine>=0.23.1
pymongo>=3.11.4
django-mongoengine>=0.4.6
PyMySQL>=1.0.2
mysqlclient>=2.0.3
git+https://github.com/spapas/wagtail-multi-upload.git
numpy>=1.21.0
PyYAML>=5.4.1
flake8>=3.9.0
uwsgi>=2.0.19.1
urllib3>=1.26.7
wagtail