{% load static wagtailuserbar %}
{% load wagtailimages_tags wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if home_page.seo_title %}{{ home_page.seo_title }}{% else %}{{ home_page.title }}{% endif %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="{{ home_page.robots }}" />
    {% block seo %}
        <meta name="description" content="{{ home_page.description }}" />
        <meta name="keyword" content="{{ home_page.keyword }}" />
        <link rel="canonical" href="{{ base_url }}">
        <meta property="og:title" content="{{ home_page.og_title }}" />
        <meta property="og:url" content="{{ base_url }}" />
        <meta property="og:type" content="{{ home_page.og_type }}" />
        <meta property="og:description" content="{% if home_page.og_description %}{{ home_page.og_description }}{% else %}{{ home_page.description }}{% endif %}" />
        {% image home_page.og_image fill-1200x300 as og_image %}
        <meta property="og:image" content="{{ og_image.url }}" />
        <meta property='article:modified_time' content="{{ home_page.article_modified_time }}" />
    {% endblock %}
        <meta property="og:locale" content="{{ home_page.og_locale }}" />
        <meta property="og:site_name" content="{{ home_page.og_site_name }}" />
        <meta property='article:author' content="{{ home_page.article_publisher }}" />
        <meta property="fb:app_id" content="{{ home_page.fb_app_id }}" />
        <meta name="twitter:card" content="{{ home_page.twitter_card }}" />
        <meta name="twitter:creater" content="{{ home_page.twitter_creater }}" />
        <meta name="twitter:site" content="{{ home_page.twitter_site }}" />

        {# Global stylesheets #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.png' %}">
        <link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/bootstrap-datepicker.standalone.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

        <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/flickity.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
            {% include 'header.html' %}
        {% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}

        {# Global javascript #}
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/bootstrap-datepicker.js"></script>
        <script src="/static/js/bootstrap-datepicker.ja.min.js"></script>
        <script src="/static/js/flickity.pkgd.min.js"></script>
        <script src="/static/js/ion.rangeSlider.min.js"></script>
        <script src="/static/js/functions.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
