.merged.nice-padding,
.hasform,
.merged.tab-merged {
  background-color: #0091b4;
}

.modal-dialog {
  width: 90%;
  max-width:  none;
}

.content-wrapper #listPhotos .row {
  padding-top: 50px;
  margin: 0 10px 0 10px;
}

.content-wrapper #listPhotos .row .col3 {
  height: 400px;
}

.photos-building .photo {
  height: 300px;
}

.photos-building .photo img{
  width: 100%;
}

.button-remove {
  background-color: red;
}

.button-center {
  width: 400px;
}

.button-save {
  width: 200px;
}

.button-submit-right {
  margin-left: 200px;
}

.button-submit-left {
  margin-right: 200px;
}

.building-content-remove .button-submit-left {
  position: relative;
  top:  -39px;
}

.building-content .nice-padding, .button-add-photo {
  padding-bottom: 120px;
  padding-top: 50px;
}

.building-content .button-save {
  z-index: 1;
}

.building-content #item-photo {
  padding-bottom: 20px;
}

.message-error .errorlist li,
.message-import-error {
  color: #cd3238;
}

.building-content .errorlist {
  padding-top: 20px;
  padding-bottom: 20px;
}

.building-content .errorlist a{
  color: #cd3238;
}

.half-size {
  width: 49%;
}

.full-size {
  width: 100%;
}

.column-content .field-building {
  margin-top: 10px;
}

.required-field {
  color: #cd3238;
  padding-left: 10px;
}

#id_limitations li label,
#id_land_rights li label {
  width: 25%;
  font-weight: normal;
}

.fix-height {
  height: 80px;
}

.description-field {
  position: relative;
  top: 16px;
}

.field-label,
.building-show-header span {
  font-weight: bold;
  font-size: 14px;
}

.col-address,
.col-transports {
  margin-bottom: 60px;
}

.building-show-table {
  border-right: 1px solid #e6e6e6;
}

.built-date {
  position: relative;
  top: 34px;
}

.upload-csv  {
  margin-bottom: 40px;
}

.dry-run {
  margin-bottom: 20px;
}

.dry-run label,
.upload-csv label {
  width: 100%;
}

.listing thead th {
  font-weight: bold;
  text-align: center;
}

.create-readable-date:before,
.update-readable-date:before {
  position: absolute;
  display: none;
  content: attr(title);
}

.create-readable-date:hover,
.update-readable-date:hover {
  visibility: hidden
}

.create-readable-date:hover:before,
.update-readable-date:hover:before {
  visibility: visible;
  display: block
}

.button-rollback {
  background-color: hsl(180.4761904762,100%,24.7058823529%);
}

.buildings-removed-action,
.buildings-action {
  text-align: right;
}

.buildings-removed-content {
  text-align: center;
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  .merged.nice-padding {
    padding-left: 60px;
    padding-top: 10px;
  }
  .building-content-remove .button-submit-left {
    top:  -30px;
  }
  .button-save {
    width: 120px;
  }
  .col-address,
  .col-transports {
    margin-bottom: 20px;
  }
}