.merged.nice-padding,
.hasform,
.merged.tab-merged {
  background-color: #0091b4;
}

.modal-dialog {
  width: 90%;
  max-width:  none;
}

.content-wrapper #listPhotos .row {
  padding-top: 50px;
  margin: 0 10px 0 10px;
}

.content-wrapper #listPhotos .row .col3 {
  height: 400px;
}

.photos-building .photo {
  height: 300px;
}

.photos-building .photo img{
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .merged.nice-padding {
    padding-left: 60px;
    padding-top: 10px;
  }
}