{% load wagtailadmin_tags  %}

<div class="col12 objects">
    {% for child in self.children %}
        <div class="col{% if child.heading in 'Content,コンテンツ' or child.id_for_label == 'id_title' %}12{% elif child.id_for_label in 'id_building_id,id_link' %}6{% else %}4{% endif %} object {{ child.classes|join:" " }}" style="height: 350px;">
            {% if child.heading %}
                <div class="title-wrapper">
                    <label {% if child.id_for_label %}for="{{ child.id_for_label }}"{% endif %}>
                        {{ child.heading }}
                    </label>
                </div>
            {% endif %}
            <div class="object-layout">
                {% if child.help_text %}
                <div class="object-layout_small-part">
                    <div class="object-help help">
                        {% icon name="help" class_name="default" %}
                        {{ child.help_text }}
                    </div>
                </div>
                {% endif %}
                <div class="object-layout_big-part">
                    {{ child.render_as_object }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    $('input#id_article_modified_time').datetimepicker({
        format: 'Y-m-d H:i'
    });
    $('#id_building_id').prop('readonly', true);
</script>