{% load i18n wagtailadmin_tags %}
{% load wagtailimages_tags %}

<div class="col12 col-transports">
    {% for transport in data %}
    <div class="col12 transports_{{ forloop.counter }}">
        <div class="col6 field-building">
            <span class="field-label">{% trans '交通' %}{{ forloop.counter }}</span>
            <div>
                <input type="text" name="station_name" value="{{ transport.station_name }}">
            </div>
        </div>

        <div class="col6 field-building">
            <span class="field-label">&nbsp;</span>
            <div>
                <input type="text" name="station_name" value="{{ transport.station_to }}">
            </div>
        </div>


        <div class="col2 field-building">
            <span class="field-label">&nbsp;</span>
            <div align="right">
                <span class="description-field">{% trans '駅から...' %}</span>
            </div>
        </div>

        <div class="col6 field-building">
            <span class="field-label">&nbsp;</span>
            <div>
                <input type="number" name="walk_mins" value="{{ transport.walk_mins }}">
            </div>
        </div>

        <div class="col4 field-building fix-height">
            <span class="field-label">&nbsp;</span>
            <div>
                <span class="description-field">{% trans '分' %}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>