{% load i18n wagtailadmin_tags %}
{% load wagtailimages_tags %}

<div class="col12 col-address">
    <div class="col4 field-building">
        <span class="field-label">{% trans '住所' %}</span>
        <div>
            <input type="text" name="pref" value="{{ data.pref }}" id="id_pref">
        </div>
    </div>

    <div class="col4 field-building">
        <span class="field-label">&nbsp;</span>
        <div>
            <input type="text" name="city" value="{{ data.city }}" id="id_city">
        </div>
    </div>

    <div class="col4 field-building">
        <span class="field-label">&nbsp;</span>
        <div>
            <input type="text" name="ooaza" value="{{ data.ooaza }}" id="id_ooaza">
        </div>
    </div>

    <div class="col4 field-building">
        <span class="field-label">&nbsp;</span>
        <div>
            <input type="text" name="tyoume" value="{{ data.tyoume }}" id="id_tyoume">
        </div>
    </div>

    <div class="col8 field-building">
        <span class="field-label">&nbsp;</span>
        <input type="text" name="hidden" value="{{ data.hidden }}" id="id_hidden">
    </div>
</div>
