{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans "建物が削除されました" %}{% endblock %}

{% block content %}
    <header class="merged nice-padding">
        <div class="row">
            <h1>
            	<svg class="icon icon-user header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-image"></use></svg>
                    {% trans '建物が削除されました' %}
            </h1>
            <div class="col9">
            </div>
        </div>
    </header>
    <form method="post" action="{{ action }}" class="form-removed">
        {% csrf_token %}
        <ul class="tab-nav merged" data-tab-nav="">
            <li class="active"><a href="#infomation">{% trans '情報' %}</a></li>
            <li><a href="#photos">{% trans '写真' %}</a></li>
        </ul>

        <div class="tab-content">
            <section id="infomation" class="active nice-padding">
                <div class="row">
                    <div class="col6 column-content">
                        {% include 'wagtailadmin/removed/form_input.html' with field=forms.building_name col='col12' %}

                        {% include 'wagtailadmin/removed/form_input.html' with field=forms.built_date_year col='col2' error=forms.errors.built_date_year %}
                        <div class="col1 field-building ">
                            <span class="built-date">年</span>
                        </div>

                        {% include 'wagtailadmin/removed/form_input.html' with field=forms.built_date_month col='col2' error=forms.errors.built_date_month %}
                        <div class="col1 field-building ">
                            <span class="built-date">月</span>
                        </div>

                        {% include 'wagtailadmin/removed/form_input.html' with field=forms.structure col='col6' %}

                        {% include 'wagtailadmin/removed/form_input.html' with field=forms.ground_floors col='col6' %}

                        {% include 'wagtailadmin/removed/form_input.html' with field=forms.remove_by col='col6' %}

                        {% include 'wagtailadmin/removed/form_input.html' with field=forms.last_time_remove col='col6' %}
                    </div>
                    <div class="col6 column-content">
                        {% include 'wagtailadmin/removed/form_address.html' with data=building_removed.address %}

                        {% include 'wagtailadmin/removed/form_transports.html' with data=building_removed.transports %}
                    </div>
                </div>
            </section>
            <section id="photos" class="nice-padding">
                <div class="row">
                    {% for photo in building_removed.photos %}
                        <div class="col3" id="item-photo">
                            <div class="photo">
                                <img src="{% if photo.path %}{{ photo.path }}{% else %}/static/images/no-image.png{% endif %}">
                            </div>
                            <input type="hidden" name="path" value="{{ photo.path }}">
                            <input type="text" name="category" value="{{ photo.category }}">
                            <textarea name="comment">{{ photo.comment }}</textarea>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </form>

    <form method="post" action="{% url 'buildings_removed_show' building_removed.id %}" class="buildings-removed-content">
        {% csrf_token %}
        <input type="hidden" name="rollback" value="{{ building_removed.id }}">
        <button class="button button-rollback" type="submit" onclick="return confirm('このアイテムをロールバックしてもよろしいですか？');">{% trans 'ロールバック' %}</button>
    </form>

{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(function () {
        $('.form-removed select').prop('disabled', true);
        $('input').prop('readonly', true);
        $('textarea').prop('readonly', true);
    });
</script>
{% endblock %}
