{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% load home_tags %}

{% block titletag %}{% trans "3D Models" %}{% endblock %}

{% block content %}
    <header class="hasform">
        <div class="row nice-padding">
            <div class="col2">
                <h1>
                	<svg class="icon icon-doc-full header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-doc-full"></use></svg>
                        {% trans '3D Models' %}
                </h1>
            </div>
            <div class="col9">

            </div>
        </div>
    </header>

{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
