{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% load home_tags %}

{% block titletag %}{% trans "3D Models" %}{% endblock %}

{% block content %}
    <header class="hasform">
        <div class="row nice-padding">
            <div class="col2">
                <h1>
                	<svg class="icon icon-form header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-form"></use></svg>
                        {% trans '3D Models' %}
                </h1>
            </div>
            <div class="col9">
                <form class="col search-form" action="" method="get" novalidate="" role="search">
                    <ul class="fields">
                        <li class="required">
                        <div class="field char_field text_input field-small iconfield" data-contentpath="models_name">
                            <label for="models_name">Search term:</label>
                            <div class="field-content">
                                <div class="input icon-search ">
                                        <input type="text" name="models_name" placeholder="{% trans 'Search' %}" required="" id="models_name">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li class="submit visuallyhidden"><input type="submit" value="Search" class="button"></li>
                    </ul>
                </form>
            </div>
            <div class="col1">
                <div class="actionbutton">
                    <a href="{% url '3d_add' %}" class="button bicolor button--icon"><span class="icon-wrapper"><svg class="icon icon-plus icon" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg></span>{% trans 'Add' %}</a>
                </div>
            </div>
        </div>
    </header>

    <table class="listing">
        <thead>
            <tr>
                <th style="width: 50%">
                    {% trans '物件名' %}
                </th>
                <th style="width: 50%">
                    {% trans '作成した' %}
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for m in models3d %}
            <tr>
                <td class="title" valign="top">
                    <a href="{% url '3d_show' m.id %}">{{ m.name_jp }}</a>
                </td>
                <td title="">
                    {{ m.created_at }}
                </td>
                <td title="">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
