{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans '建物の輸入' %}{% endblock %}

{% block content %}
    <header class="merged nice-padding">
        <div class="row">
            <h1>
            	<svg class="icon icon-user header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-folder-open-inverse"></use></svg>
                    {% trans '建物の輸入' %}
            </h1>
            <div class="col9">
            </div>
        </div>
    </header>

    <div style="padding-top:40px"></div>

    <div class="nice-padding">
        <div class="col12 drop-zone">
            <div class="col12">
                {% for error in errors %}
                    <p class="message-import-error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col4">
                &nbsp;
            </div>
            <div class="col4">
                <form action="{% url 'buildings_import' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="replace-file-input">
                        <div class="col12 upload-csv" align="center">
                            <input id="fileupload" type="file" name="files" data-url="{% url 'buildings_import' %}" required accept=".csv">
                            <label for="fileupload">{% trans 'csvをアップロードするにはクリックしてください' %}</label>
                            {% if total %}
                                <label>合計: {{ total }}</label>
                            {% endif %}
                        </div>
                        <div class="col12 dry-run">
                            <label for="dry_run">
                                <input type="checkbox" name="dry_run" id="dry_run" checked>
                                ドライラン
                            </label>
                        </div>
                        <div class="col12">
                            <button class="button bicolor button--icon">
                                <span class="icon-wrapper">
                                    <svg class="icon icon-plus icon" aria-hidden="true" focusable="false"><use href="#icon-plus"></use></svg>
                                </span>{% trans 'インポート' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col12 drop-zone" align="left">
            <div class="col4 report-import">
                <h1>{% trans '完了' %}: {{ done|length }}</h1>
                {% if done %}
                    {% for k in done %}
                        <p align="left">{{ k }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col4 report-import center">
                <h1>{% trans '無視する' %}: {{ ignore|length }}</h1>
                {% if ignore %}
                    {% for k, v in ignore.items %}
                        <p align="left"><a href="{{ v }}" target="_blank">{{ k }}</a></p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col4 report-import">
                <h1>{% trans '不合格' %}: {{ fail|length }}</h1>
                {% if fail %}
                    {% for k in fail %}
                        <p align="left">>{{ k }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
