{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans "Import Buildings" %}{% endblock %}

{% block content %}
<header class="merged nice-padding">
    <div class="row">
        <h1>
        	<svg class="icon icon-user header-title-icon" aria-hidden="true" focusable="false"><use href="#icon-folder-open-inverse"></use></svg>
                {% trans 'Import Buildings' %}
        </h1>
        <div class="col9">
        </div>
    </div>
</header>
<h1>{{ method }}</h1>
{% if request.method == 'GET' %}
<form method="post" action="/dashboard/import/">
    {% csrf_token %}
    <div align="center">
        <button type="submit" class="button" style="width: 200px;">SUBMIT</button>
    </div>
</form>
{% endif %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
