{% extends "home_base.html" %}
{% load static wagtailcore_tags %}
{% load i18n wagtailadmin_tags wagtailimages_tags %}


{% block body_class %}nav-black{% endblock %}

{% block title %}Search | {{ home_page.title }}{% endblock %}

{% block seo %}
        <meta name="description" content="{{ home_page.description }}" />
        <meta name="keyword" content="{{ home_page.keyword }}" />
        <link rel="canonical" href="{{ base_url }}{% url 'search' %}">
        <meta property="og:title" content="{{ home_page.og_title }}" />
        <meta property="og:url" content="{{ base_url }}" />
        <meta property="og:type" content="{{ home_page.og_type }}" />
        <meta property="og:description" content="{% if home_page.og_description %}{{ home_page.og_description }}{% else %}{{ home_page.description }}{% endif %}" />
        {% image home_page.og_image fill-1200x300 as og_image %}
        <meta property="og:image" content="{{ og_image.url }}" />
        <meta property='article:modified_time' content="{{ home_page.article_modified_time }}" />
{% endblock %}

{% block content %}
<section>
    <div class="property-list_head">
        <div class="container">
            <h1>検索条件</h1>
            <p>東京の中古マンションを沿線・駅から探す</p>
        </div>
    </div>
</section>

<section class="section_search_conditions bg-white pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <form action="{% url 'result' %}" class="frm_search_conditions" method="GET">
                    <h2 class="little_title">
                        エリアまたは沿線・駅から選択（複数選択可）
                        <button class="burger">
                            <span class="burger_line"></span>
                            <span class="burger_line"></span>
                            <span class="burger_line"></span>
                        </button>
                    </h2>
                    <div class="frm_search_conditions_content" style="display: block;">

                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {% if active and active == 'area' %}active{% endif %}" id="pills-area-tab" data-toggle="pill" href="#pills-area" role="tab" aria-controls="pills-area" aria-selected="true">エリアから探す</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {% if active and active == 'station' %}active{% endif %}" id="pills-station-tab" data-toggle="pill" href="#pills-station" role="tab" aria-controls="pills-station" aria-selected="false">沿線・駅から探す</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade {% if active and active == 'area' %}show active{% endif %}" id="pills-area" role="tabpanel" aria-labelledby="pills-area-tab">
                                {% for key, value in city.items %}
                                <div class="row">
                                    <div class="col-6 col-lg-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="{{ key }}" name="area" value="{{ key }}">
                                            <label class="custom-control-label" for="{{ key }}">{{ key }}</label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <p class="cases"><span>{{ value }}</span>件</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="tab-pane fade {% if active and active == 'station' %}show active{% endif %}" id="pills-station" role="tabpanel" aria-labelledby="pills-station-tab">

                                <div class="accordion" id="accordionExample">
                                    <div class="collapse multi-collapse show" id="box_jr">
                                        {% for transport_company, station_name in station.items %}
                                        <!-- Start transport -->
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                              <h2 class="mb-0">
                                                <div class="custom-control custom-checkbox ck_all">
                                                    <input type="checkbox" class="custom-control-input" id="transport-{{ transport_company }}">
                                                    <label class="custom-control-label" for="transport-{{ transport_company }}"><span>{{ transport_company }}</span></label>
                                                </div>
                                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne-{{ transport_company }}" aria-expanded="true" aria-controls="collapseOne">
                                                </button>
                                              </h2>
                                            </div>

                                            <div id="collapseOne-{{ transport_company }}" class="collapse  {% if forloop.first %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    {% for name, count in station_name.items %}
                                                    <div class="row">
                                                        <div class="col-6 col-lg-6">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="{{ name }}" name=station value="{{ name }}">
                                                                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-lg-6">
                                                            <p class="cases"><span>{{ count }}</span>件</p>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End transport -->
                                        {% endfor%}

                                    </div>
                                </div>

                        </div>

                    </div>


                    <!-- <h2 class="little_title">価格（万円）</h2>
                    <div class="form-group box_form_group">
                        <select name="" class="custom-select">
                            <option value="">下限なし</option>
                            <option value="">0</option>
                            <option value="">1</option>
                        </select>
                        <p class="mb-0">⁓</p>
                        <select name="" class="custom-select">
                            <option value="">0</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">上限なし</option>
                        </select>
                    </div>
                    <h2 class="little_title">広さ（m<sup>2</sup>）</h2>
                    <div class="form-group box_form_group">
                        <select name="" class="custom-select">
                            <option value="">下限なし</option>
                            <option value="">0</option>
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                        <p class="mb-0">⁓</p>
                        <select name="" class="custom-select">
                            <option value="">0</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">上限なし</option>
                        </select>
                    </div>

                    <h2 class="little_title">こだわり</h2>
                    <ul class="list_commitment">
                        <li><a class="btn_commitment" href="#">カスタム可能</a></li>
                        <li><a class="btn_commitment" href="#">リノベ済</a></li>
                        <li><a class="btn_commitment" href="#">ペット飼育可</a></li>
                        <li><a class="btn_commitment" href="#">ウォークインクローゼット</a></li>
                        <li><a class="btn_commitment" href="#">シューズインクローゼット</a></li>
                        <li><a class="btn_commitment" href="#">角部屋</a></li>
                        <li><a class="btn_commitment" href="#">1DK/LDK</a></li>
                        <li><a class="btn_commitment" href="#">2DK/LDK</a></li>
                        <li><a class="btn_commitment" href="#">3DK/LDK</a></li>
                        <li><a class="btn_commitment" href="#">4DK/LDK以上</a></li>
                    </ul> -->
                </form>
            </div>
        </div>
    </div>
</section>

{% block footer_search %}
    {% include 'footer_search.html' %}
{% endblock %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        {% for transport_company, station_name in station.items %}
            $("#transport-{{ transport_company }}").click(function() {
              $("#collapseOne-{{ transport_company }} input[type=checkbox]").prop("checked", $(this).prop("checked"));
            });

            $("#collapseOne-{{ transport_company }} input[type=checkbox]").click(function() {
              if (!$(this).prop("checked")) {
                $("#transport-{{ transport_company }}").prop("checked", false);
              }
            });
        {% endfor %}

        $(".btn_search_conditions").click(function() {
            $(".frm_search_conditions").submit();
        });
    </script>
{% endblock %}

