{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load i18n wagtailadmin_tags %}


{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block seo %}
    <meta name="description" content="description" />
    <meta name="keyword" content="keyword" />
    <meta name="og:title" content="og_title" />
    <meta name="og:url" content="og_url" />
    <meta name="og:description" content="og_description" />
{% endblock %}

{% block content %}
    <h1>Search</h1>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="building_name">
        <input type="submit" value="Search" class="button">
    </form>

    {% if buildings %}
        <ul>
            {% for building in buildings %}
                <li>
                   <a href="{% url 'building' building.id %}" target="_blank">{{ building.building_name }}</a>
                </li>
            {% endfor %}
        </ul>

    {% elif search_query %}
        No results found
    {% endif %}

    <div align="center">
    {% if paginator %}
        {% if paginator.has_previous %}
            <a href="{% url 'search' %}?page={{ paginator.previous_page_number }}&amp;limit={{ limit }}">{% trans 'Previous' %}</a>
        {% endif %}
        {{ paginator }}
        {% if paginator.has_next %}
            <a href="{% url 'search' %}?page={{ paginator.next_page_number }}&amp;limit={{ limit }}">{% trans 'Next' %}</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock %}
